<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ログイン</h2>
    </div>
  </div>

  <%= form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <%= f.label :email, "Eメール", class: "col-md-2 col-form-label" %>
      <div class="col-md-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password, "パスワード", class: "col-md-2 col-form-label" %>
      <div class="col-md-10">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
    <fieldset class="form-group">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "パスワードを記憶" %>
    </fieldset>
    <% end %>

    <div class="actions mx-auto" style="width: 200px;">
      <%= f.submit "ログイン", class: "btn btn-info btn-block" %><br />
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
