<div class="card" style="background-color: rgba(102, 204, 255, 0.3);">
  <div class="card-body px-3 py-2">
    <p class="card-title">
      <% proposition.proposition_categories.each do |proposition_category| %>
        <%= render 'tags/tag_badge', tag: proposition_category.tag %>
      <% end %>
      <span id="favorite-<%= proposition.id %>" class="float-right">
        <%= render 'favorites/favorite_button', favorite: favorite, proposition: proposition %>
      </span>
    </p>
    <p class="card-title">
      <% proposition.request_categories.each do |request_category| %>
        <%= render 'tags/request_category_tag_badge', tag: request_category.tag %>
      <% end %>
    </p>
    <%= link_to proposition_path(proposition.id) do %>
      <h5 class="card-title"><%= proposition.title %></h5>
      <p class="card-text mb-0"><%= proposition.introduction %></p>
    <% end %>
      <p class="card-text mb-0">
        <%= link_to proposition.user.name, user_path(proposition.user.id) %>
        <%= link_to user_path(proposition.user.id) do %>
          <%= attachment_image_tag proposition.user, :profile_image, format: 'jpeg', fallback: "no_image_user.jpeg", size: "50x50", class: "rounded-circle" %>
        <% end %>
        <%# 後程変更予定 %>
        <%= "★★★★★" %>
      </p>
  </div>
</div>
