<%# propositions#offerでrenderされている場合について %>
<%# attachmentがpropositionにしか設定されておらず、offerフォームに入れるとエラーが出るため、フォームを入れ子構造に %>
<%# それぞれのformヘルパーにform: "new_proposition"を付けて、offerフォームと共に値が送られるように。 %>
<%= form_with(model: proposition) do |form| %>
  <div class="form-group row">
    <%= form.label :title, "案件タイトル", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.text_field :title, autofocus: true, class: "form-control", form: "new_proposition_offer" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :introduction, "案件説明文", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.text_area :introduction, rows: 3, class: "form-control", form: "new_proposition_offer" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :deadline, "締め切り", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.date_field :deadline, class: "form-control", form: "new_proposition_offer" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :rendering_image, "完成イメージ画像", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.attachment_field :rendering_image, class: "form-control", form: "new_proposition_offer" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :tag_id, "案件カテゴリタグ", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.collection_select :proposition_category_tag_id, Tag.all.order(name: "ASC"), :id, :name,value: nil, prompt: "選択してください", class: "form-control", form: "new_proposition_offer" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :tag_id, "要望カテゴリタグ", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= form.collection_select :request_category_tag_id, Tag.all.order(name: "ASC"), :id, :name,value: nil, prompt: "選択してください", class: "form-control", form: "new_proposition_offer" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
      <%= form.submit "申請", class: "btn btn-outline-primary btn-block", form: "new_proposition_offer" %>
    </div>
  </div>
<% end %>
