<div class="card" style="background-color: rgba(102, 204, 255, 0.5);">
  <div class="card-body px-2 py-3">
    <p class="card-title">
      <% proposition.proposition_categories.each do |proposition_category| %>
        <%= render 'tags/tag_badge', tag: proposition_category.tag %>
      <% end %>
      <span id="favorite-<%= proposition.id %>" class="float-right">
        <%= render 'favorites/favorite_button', favorite: favorite, proposition: proposition %>
      </span>
    </p>
    <p class="card-title">
      <% proposition.request_categories.each do |request_category| %>
        <%= render 'tags/request_category_tag_badge', tag: request_category.tag %>
      <% end %>
    </p>
    <h5 class="card-title"><%= proposition.title %></h5>
    <p class="card-text"><%= proposition.introduction %></p>
    <%# 交換完了申請後は納期は表示しない %>
    <% if proposition.deadline && !proposition.is_bartering? %>
      <p class="card-text">
        納期： <%= proposition.deadline.strftime("%Y年%m月%d日中") %>
      </p>
    <% end %>
    <% if proposition.rendering_image_id %>
      <p class="card-text">
        完成イメージ
        <%= attachment_image_tag proposition, :rendering_image, format: 'jpeg', size: "autox100%", class: "w-100" %><br ><br >
      </p>
    <% end %>

    <%# 既にスキル交換申請済みの場合は申請している自分の案件名を表示 %>
    <% if proposition.offering_to? %>
      <p class="card-text">
        <span class="bg-success text-light p-1">スキル交換申請中</span>
        案件名：　
        <%= offering_proposition.title %>
        <%= offering_proposition.created_at.strftime("%Y/%m/%d %H:%M作成")%>
      </p>
    <% end %>

    <%# 条件の入れ子は好ましくないが、どうしてもここは入れ子以外では表現できなかった。後程変更予定。 %>
    <div class="actions text-center card-text mb-3">
      <%# ログインしていない場合は何も表示しない。 %>
      <% if not user_signed_in? %>
      <%# 自分の案件には案件編集ページ %>
      <% elsif proposition.user == current_user %>
        <%= link_to "編集する", edit_proposition_path(proposition.id), class: "btn btn-outline-success btn-block" %>
      <% elsif proposition.is_matched? %>
        <%# 案件がマッチング済みで、マッチングしているのも自分 %>
        <% if proposition.matched_with? %>
          <%= link_to "交換申請を取り下げる",  proposition_offer_path(proposition.id, offering_proposition.offering_relationship.id), method: :delete, class: "btn btn-outline-danger btn-block" %>
        <%# 案件がマッチング済みだが、マッチングしているのは他人である場合は何も表示しない %>
        <% end %>
      <% else %>
        <%# 案件はマッチングしていなくて、自分が交換申請を出している場合 %>
        <% if proposition.offering_to?%>
          <%= link_to "交換申請を取り下げる",  proposition_offer_path(proposition.id, offering_proposition.offering_relationship.id), method: :delete, class: "btn btn-outline-danger btn-block" %>
        <%# 案件はマッチングしていなくて、自分が交換申請を出していない場合 %>
        <% else %>
          <%= link_to "スキル交換申請", offer_propositions_path(offered_id: proposition.id), class: "btn btn-info btn-block"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
