<div class="card bg-light h-100">
  <div class="card-body px-2 py-3">
    <p class="card-title">
      <% proposition.proposition_categories.each do |proposition_category| %>
        <%= render 'tags/tag_badge', tag: proposition_category.tag %>
      <% end %>
      <span id="favorite-<%= proposition.id %>" class="float-right">
        <%= render 'favorites/favorite_button', favorite: favorite, proposition: proposition %>
      </span>
    </p>
    <h5 class="card-title"><%= link_to proposition.title, proposition_path(proposition.id) %></h5>
    <p class="card-text mb-0"><%= proposition.introduction %></p>
  </div>
</div>
