<%# マッチング関係を矢印でも示すよう後程変更予定。 %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/global_navigation_side_bar' %>
    </div>
    <div class="col-md-9 rounded bg-white px-4">
      <div class="row my-3">
        <div class="col-md-12">
          <h5><strong><%= current_user.name %>さんの案件一覧</strong></h5>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 mt-4 d-flex align-items-center">
              <h6><strong>自分の案件</strong></h6>
            </div>
            <div class="col-md-2 mt-4">
            </div>
            <div class="col-md-5 mt-4 d-flex align-items-center">
              <h6><strong>関連する案件</strong></h6>
            </div>
          </div>
        </div>
        <% @propositions.each do |proposition| %>
          <div class="col-md-12 bg-light rounded-lg my-2">
            <div class="row">
              <%# 自分の案件一覧 %>
              <div class="col-md-5 my-2">
                <%= render 'propositions/proposition_detail', proposition: proposition, favorite: Favorite.find_by(user_id: current_user.id, proposition: proposition.id) %>
              </div>
              <div class="col-md-2">
              </div>

              <%# 自分の案件それぞれと関連する案件一覧 %>
              <div class="col-md-5">
                <%# 自分が申請を出している相手がいればそれが一番上 %>
                <% if proposition.offering %>
                  <div class="col-md-12 my-2 p-0">
                    <%= render 'layouts/matching_relation_info.html.erb', my_proposition: proposition, opponent_proposition: proposition.offering %>
                    <%= render 'propositions/proposition_card', proposition: proposition.offering %>
                  </div>
                <% end %>
                <% proposition.offerers.each do |offering_proposition| %>
                  <%# 申請相手は上記で表示しているので、ここには表示させたくない。 %>
                  <% if not (proposition.offering.present? && proposition.offering == offering_proposition) %>
                    <div class="col-md-12 my-2 p-0">
                      <%= render 'layouts/matching_relation_info.html.erb', my_proposition: proposition, opponent_proposition: offering_proposition %>
                      <%= render 'propositions/proposition_card', proposition: offering_proposition %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
