<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><strong>案件詳細</strong></h4>
    </div>
    <% if user_signed_in? && @proposition.offering_to? %>
      <div class="mr-auto mb-3 rounded border border-secondary mx-4 p-2">
        <div class="row">
          <div class="col-md-12">
            <p class="mb-1">
              <% my_proposition = @proposition.my_offering_proposition %>
              あなたとの関係：
              <%= render 'layouts/matching_relation_info', opponent_proposition: @proposition, my_proposition: my_proposition %>
            </p>
            <p class="mb-1">
              <%= link_to proposition_path(my_proposition.id) do %>
                <strong class="mr-3"><%= my_proposition.title %></strong><br >
                <%= my_proposition.created_at.strftime("%Y/%m/%d %H:%M作成")%>
              <% end %>
            </p>
            <% if (not @proposition.is_reviewed?) && @proposition.offering_to? %>
              <%= link_to "交換申請を取り下げる",  proposition_offer_path(@proposition.id, my_proposition.offering_relationship.id), method: :delete, class: "btn btn-danger p-1" %>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-9">
      <%= render 'propositions/proposition_folder', proposition: @proposition, offering_proposition: @offering_proposition, review: @review, favorite: @favorite, chat_messages: @chat_messages, room: @room %>

      <div class="col-md-12">
        <hr>
        <%# コメントリスト %>
        <% @comments.each do |comment| %>
          <%= render 'comments/proposition_comments', comment: comment, proposition: @proposition %>
          <hr>
        <% end %>
      </div>

      <div class="col-md-12">
        <%# コメントフォーム %>
        <%= render 'comments/comment_form', proposition: @proposition, comment: @comment %>
      </div>
    </div>

    <div class="col-md-3">
      <%# ユーザー紹介サイドバー %>
      <%= render 'users/skill_holder_introduction_card', user: @user, follow: @follow, block: @block %>
    </div>
  </div>
</div>

