<div class="card">
  <div class="card-body px-2 py-3">
    <%# プロフィール画像 %>
    <div class="card-title text-center">
      <%= image_tag user.profile_image_id.to_s, height: 150, width: 150, class: "rounded-circle", style: "object-fit: cover;" %>
    </div>

    <%# フォロー、ブロックボタン %>
    <div class="card-text text-center">
      <span id="follow-<%= user.id %>" class="card-text text-center">
        <%= render 'follows/follow_button', user: user, follow: follow %>
      </span>
      <span id="block-<%= user.id %>" class="card-text text-center">
        <%= render 'blocks/block_button', user: user, block: block %>
      </span>
    </div>

    <%# スキルカテゴリータグ %>
    <p class="card-title">
      <% user.skill_categories.map(&:tag).each do |tag| %>
        <%= render 'tags/tag_badge', tag: tag %>
      <% end %>
    </p>

    <%# 名前 %>
    <h4 class="card-title"><strong><%= user.name %></strong></h4>

    <%# レビューレート、レビュー数 %>
      <% if user.revieweds != [] %>
        <p class="card-title">
          <span id="user-star-rate"></span><span class="text-secondary">(<%= user.revieweds.size %>)</span>
        </p>
      <% end %>

      <script>
        $('#user-star-rate').raty({
          size    : 36,
          starOff : '<%= asset_path('star-off.png') %>',
          starOn  : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half    : true,
          readOnly: true,
          score   : <%= round_up_by_half(user.revieweds.map(&:rate).sum(0.0) / user.revieweds.size) if user.revieweds != [] %>,
        });
      </script>

    <%# 実績数 %>
    <p class="card-text"><strong>実績数:　</strong><span class="badge badge-pill badge-success"><%= user.achievements.size %></span></p>

    <%# 活動都道府県 %>
    <p class="card-text">
      <strong>活動都道府県: </strong>
      <% user.user_prefectures.map(&:prefecture).each do |prefecture| %>
        <%= "#{prefecture.name}　" %>
      <% end %>
    </p>

    <%# 紹介文 %>
    <p class="card-text"><%= user.introduction %></p>
  </div>
</div>
