<div class="card h-100 border border-white">
  <div class="card-body px-2 pt-1 pb-2">
    <div class="row">
      <div class="col-md-12">
        <% if user_signed_in? && user.blocked_by?(current_user) %>
          <div id="block-<%= user.id %>" class="d-inline-block float-right">
            <% block = Block.find_by(blocker_id: current_user.id, blocked_id: user.id) %>
            <%= render 'blocks/block_button', user: user, block: block %>
          </div>
        <% else %>
          <div id="follow-<%= user.id %>" class="d-inline-block float-right">
            <%= render 'follows/follow_button', user: user, follow: follow %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to user_path(user.id) do %>
      <h5 class="card-title">
          <%= image_tag user.profile_image_id.to_s, height: 60, width: 60, class: "rounded-circle", style: "object-fit: cover;" %>
          <span class="h4 pl-3"><%= user.name %></span><br >
      </h5>
      <%# レビューレート、レビュー数 %>
      <% if user.revieweds != [] %>
        <div class="card-title">
          <span id="user-star-rate-<%= user.id %>"></span><span class="text-secondary">(<%= user.revieweds.size %>)</span>
        </div>
      <% end %>
      <p class="card-text"><%= user.introduction %></p>
    <% end %>
    <p class="card-text mb-0">
      <% user.skill_categories.each do |skill_category| %>
        <%= render 'tags/tag_badge', tag: skill_category.tag %>
      <% end %>
    </p>
  </div>
</div>


<script>
  $('#user-star-rate-<%= user.id %>').raty({
    size    : 36,
    starOff : '<%= asset_path('star-off.png') %>',
    starOn  : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half    : true,
    readOnly: true,
    score   : <%= round_up_by_half(user.revieweds.map(&:rate).sum(0.0) / user.revieweds.size) if user.revieweds != [] %>,
  });
</script>
