<div class="card">
  <div class="card-body px-2 py-3">
    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image_user.jpeg", size: "100x100", class: "rounded-circle" %>
    <p class="card-title">
      <% user.skill_categories.map(&:tag).each do |tag| %>
        <%= render 'tags/tag_badge', tag: tag %>
      <% end %>
    </p>
    <h4 class="card-title"><strong><%= user.name %></strong></h4>
    <p class="card-text"><%= "★★★★★" %></p>
    <p class="card-text"><strong>実績数:　</strong><span class="badge badge-pill badge-success"><%= user.achievements.size %></span></p>
    <%# レビューレート。後程変更予定 %>
    <p class="card-text">
      <strong>活動都道府県: </strong>
      <% user.user_prefectures.map(&:prefecture).each do |prefecture| %>
        <%= "#{prefecture.name}　" %>
      <% end %>
    </p>
    <p class="card-text"><%= user.introduction %></p>
  </div>
</div>
