<div class="card h-100" style="background-color: rgba(102, 204, 255, 0.5);">
  <div class="card-body px-2 pt-1 pb-2">
    <div class="row">
      <div class="col-md-12">
        <div id="follow-<%= user.id %>" class="d-inline-block float-right">
          <%= render 'follows/follow_button', user: user, follow: follow %>
        </div>
      </div>
    </div>
    <h5 class="card-title">
      <%= link_to user_path(user.id) do %>
        <%= image_tag user.profile_image_id.to_s, height: 50, width: 50, class: "rounded-circle", style: "object-fit: cover;" %>
        <%= user.name %><br >
      <% end %>
    </h5>
    <p class="card-text"><%= user.introduction %></p>
    <p class="card-text mb-0">
      <% user.skill_categories.each do |skill_category| %>
        <%= render 'tags/tag_badge', tag: skill_category.tag %>
      <% end %>
    </p>
  </div>
</div>
