<%= form_with(model: user) do |f| %>
  <div class="form-group row">
    <%= f.label :name, "氏名", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :kana_name, "フリガナ", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= f.text_field :kana_name, class: "form-control" %>
    </div>
  </div>

    <div class="form-group row">
      <%= f.label :email, "Eメール", class: "col-md-2 col-form-label" %><br >
      <div class="col-md-10">
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

  <div class="form-group row">
    <%= f.label :phone_number, "電話番号", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= f.text_field :phone_number, placeholder: "ハイフン無し", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :birthday, "生年月日", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= f.date_field :birthday, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :introduction, "自己紹介文", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= f.text_area :introduction, rows: 3, placeholder: "ハイフン無し", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :profile_image, "プロフィール画像変更", class: "col-md-2 col-form-label" %>
    <div class="col-md-10">
      <%= f.attachment_field :profile_image, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <%= f.submit "編集完了", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
