<div class="container">
  <div class="row">
    <div class="col-md-12 text-white top-eye-catching d-flex align-items-center">
      <h1>SKILL-BARTERへようこそ</h1>
    </div>
  </div>

  <%# 新着スキルホルダー(ユーザー) %>
  <div class="row my-5">
    <div class="col-md-12">
      <h5><strong>新着スキルホルダー</strong></h5>
    </div>
    <% @users.each do |user| %>
      <div class="col-md-4">
        <% follow = Follow.find_by(follower_id: current_user.id, followed_id: user.id) if user_signed_in? %>
        <%= render 'users/skill_holder_card', user: user, follow: follow %>
      </div>
    <% end %>
    <div class="col-md-12 text-right pt-2 mr-3">
      <%= link_to "もっと見る", users_path %>
    </div>
  </div>

  <%# 新着案件 %>
  <div class="row mb-4">
    <div class="col-md-9">
      <div class="col-md-12">
        <h5><strong>新着案件</strong></h5>
      </div>
      <% @propositions.each do |proposition| %>
        <div class="col-md-12 my-3">
          <%= render 'propositions/proposition_card', proposition: proposition %>
        </div>
      <% end %>
      <div class="col-md-12 text-right mr-3">
        <%= link_to "もっと見る", propositions_path %>
      </div>
    </div>

    <%# 案件検索フォーム %>
    <div class="col-md-3" style="padding-top: 44px;">
      <%= render 'propositions/propositions_search_form', search: @search %>
    </div>
  </div>
</div>
