<div class="col-md-3 my-1">
</div>
<div class="col-md-9 my-1">
  <div class="inline-block float-right flex-column align-items-end">
    <div class="mb-1 text-right">
      <strong><%= chat_message.user.name %></strong>
      <%= image_tag chat_message.user.profile_image_id.to_s, height: 40, width: 40, class: "rounded-circle", style: "object-fit: cover;" %>
    </div>
    <div class="bg-success rounded-lg text-white p-2 text-wrap">
      <%= chat_message.content %><br >
      <%= image_tag chat_message.image_id.to_s, class: "w-100 h-auto" if chat_message.image_id.present? %>
    </div>
    <div class="text-left" style="font-size: 0.5em;">
      <%= chat_message.created_at.strftime("%Y/%m/%d %H:%M") %>
      <%= link_to "削除", chat_message_path(chat_message.id), method: :delete, class: "text-secondary ml-2", "data-confirm" => "本当に削除しますか？"  %>
    </div>
  </div>
</div>
