<nav class="navbar navbar-expand-md navbar-light bg-light rounded-bottom fixed-top py-0">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'skill_barter_logo.jpg', width: 70, height: 70 %>
    <% end %>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="Navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= attachment_image_tag current_user, :profile_image, format: 'jpeg', fallback: "no_image_user.jpeg", size: "60x60", class: "rounded-circle float-right inline-block", style: "object-fit: cover;" %>
        </li>
        <li class="nav-item active d-flex align-items-center">
          <%= link_to mypage_users_path, class: "nav-link" do %>
            <div class="float-right inline-block h5">マイページ</div>
          <% end %>
        </li>
        <li class="nav-item active d-flex align-items-center">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <div class="float-right inline-block h5">ログアウト</div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
