<nav class="navbar navbar-expand-md bg-white rounded-bottom fixed-top py-0">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'skill_barter_logo.jpg', width: 70, height: 70, alt: "skill_barter_logo" %>
    <% end %>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="Navbar">
      <ul class="navbar-nav">
        <li class="nav-item active mx-2">
          <%= link_to "かんたんログイン", users_guest_sign_in_path, method: :post, class: "btn btn-warning" %>
        </li>
        <li class="nav-item active mx-2">
          <%= link_to "チャットテストユーザーログイン", users_chat_opponent_sign_in_path, method: :post, class: "btn btn-info" %>
        </li>
        <li class="nav-item active d-flex align-items-center">
        </li>
        <li class="nav-item active d-flex align-items-center">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <div class="float-right inline-block h5">ログイン</div>
          <% end %>
        </li>
        <li class="nav-item active d-flex align-items-center">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            <div class="float-right inline-block h5">新規登録</div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
