<!DOCTYPE html>
<html>
  <head>
    <title>SKILL BARTER</title>
    <%= favicon_link_tag('skill_barter_logo.jpg') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 5.5rem;">
    <header>
      <% if user_signed_in? %>
        <%= render 'layouts/login_header' %>
      <% else %>
        <%= render 'layouts/not_logged_in_header' %>
      <% end %>
    </header>
      <%= render 'layouts/alert_message' %>

    <%= yield %>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  <script>
    bsCustomFileInput.init();
  </script>
  </body>
</html>
